* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira Code';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #141c28;
    flex-direction: column;
    row-gap: 1rem;
    color: #fff;
}

.calculator {
    background-color: #ababe0;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 300px;
    padding: 20px;
}

.calculator-display {
    width: 100%;
    height: 60px;
    background-color: #222;
    color: #fff;
    font-size: 2em;
    text-align: right;
    border: none;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.calculator-buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

button {
    background-color: #6058a2;
    color: #cac7c7;
    height: 60px;
    font-size: 1.5em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    color: hsl(0, 0%, 100%);
    background-color: #7c72d1;
}

button.zero {
    grid-column: span 3;
}

.footer {
    text-align: center;
}